<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731713822089-3kao4pgi417v192o6cf7b7tbhp7uiv7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731713822089-3kao4pgi417v192o6cf7b7tbhp7uiv7k</string>
	<key>API_KEY</key>
	<string>AIzaSyAXg6-NWDjhNAgbWySMsCZKakbR4JfTXJM</string>
	<key>GCM_SENDER_ID</key>
	<string>731713822089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maddob.helloFlutter</string>
	<key>PROJECT_ID</key>
	<string>fluttertest-f6de7</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest-f6de7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731713822089:ios:52ccb25543dcb63d</string>
	<key>DATABASE_URL</key>
	<string>https://fluttertest-f6de7.firebaseio.com</string>
</dict>
</plist>